{% extends 'profile/base.html' %} {% block title %}Dashboard
{%endblock%} {% load static %}
{% block css %}
<style> 
</style>
{% endblock css%}
 {% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
     <!-- Content Header (Page header) -->
     <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Consultance Banner Form</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Consultance Banner Form</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
       <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <!-- <div class="col-md-2"></div> -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Consultance Banner</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="card-body">
                   
                    <div class="row">
                    <div class="form-group col-md-6">
                      <label for="descriptions">Title:</label>
                      <textarea id="title" class="form-control" name="title">{{consultation_banner.title}}</textarea>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="descriptions">Descriptions:</label>
                      <textarea id="descriptions"  class="form-control" name="descriptions">{{ consultation_banner.descriptions}}</textarea>
                    </div>
                    </div>
                  
                    <div class="row">
                    <div class="form-group col-md-6">
                      <label for="image">Background Image:</label>
                      <div class="input-group">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="bg_image" name="bg_image">
                          <label class="custom-file-label" for="bg_image">Choose file</label>
                        </div>
                        <div class="input-group-append">
                          <span class="input-group-text">Upload</span>
                        </div>
                      </div>
                    </div>
                
                    
                    </div>
                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
            <!-- <div class="col-md-2"></div> -->
           </div>
        </div>
    </section>
    
</div>
{% endblock %}

{% block custom_js %}
<script>
  $(function () {
    // Summernote
    $('#title').summernote()
    $("#descriptions").summernote()
   

   
  })
</script>
 {% endblock custom_js %}