{% extends 'profile/base.html' %} {% block title %}Dashboard
{%endblock%} {% load static %}
{% block css %}
<style> 
</style>
{% endblock css%}
 {% block body %}
<!-- Content Wrapper. Contains page content -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
     <!-- /.card -->
     <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Consultation Page Banner Data List </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Plan Name</th>
                    <th>Price</th>
                    <th>Currency</th>
                    
                   
                  </tr>
                  </thead>
                  <tbody>
                    {% if consulting_plan %}
                    {% for data in consulting_plan %}
                  <tr>
                    <td>{{data.name}}</td>
                   
                    <td>{{data.price}}</td>
                    <td>{{data.currency}}</td>
                  </tr>
                  {%endfor%}
                  {%endif%}
               
          
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Plan Name</th>
                    <th>Price</th>
                    <th>Currency</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.card -->

  </div>
{% endblock %}


{% block custom_js %}
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
   
  });
</script>
{% endblock custom_js %}